

    
<%- include('../partials/header.ejs') -%>
<%- include('../partials/navbar.ejs') -%>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">

                <div class="card" style="width: 33rem;">
                    <div class="card-body">
                      <h5 class="card-title"><%= event.title %></h5>
                      <p class="card-text"><%= event.description %></p>
                      <p><%= event.location %></p>
                      <h6><span class="badge bg-secondary"><%= event.date.toDateString() %></span></h6>
                      <a href="<%= '/events/edit/' + event.id%>" class="btn btn-primary">Edit</a>
                      <a href="" class="btn btn-danger">delete</a>

                    </div>
                  </div>

    </div>
</div>
</div>

    <%- include('../partials/footer.ejs') -%>